body {
	background-color: orange;
	box-sizing: border-box;
	font-family : sans-serif;
}
/* Make the container relative */
.swap-on-hover {
  position: relative;
float : left;
	margin:  0 auto;
	max-width: 200px;
}
/* Select the image and make it absolute to the container */
.swap-on-hover img {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  /* Sets the width and height for the images*/
  width: 200px;
  height: 300px;
}
/*We set z-index to be higher than the back image, so it's alwyas on the front.*/
.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
  height : 0;
  transition: .5s ease-in-out;
}
.swap-on-hover:hover > .swap-on-hover__back-image{
  font-size: 12px;
  opacity : 1;
  transition: .5s ease-in-out;
}
.swap-on-hover__back-image {
  border: 1px solid lightgray;
  height : 288px;
  width : 188px;
  padding : 5px;
  font-family : tahoma;
  font-size : 9px;
  opacity : 0;
  transition: .5s ease-in-out;
  overflow : hidden;
}
p, hr {
	clear:both;
}

div {
	position:relative;
	float:left;
	width:50%;
	margin:0 auto;
}
